.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .results {
    grid-template-columns: repeat(4, 1fr);
  }
}

.input {
  padding: 0.5rem;
  font-size: inherit;
}

.button {
  padding: 0.5rem;
  font-size: inherit;
}

.thumbWrapper {
  background: var(--placeholder-bg);
}

.noResultsHeading {
  grid-column: 1 / -1;
}

.thumb {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
}
